@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  background-color: #ffffff;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

p,
.section-text {
  color: #757575;
}

.section-title {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  margin: 0;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    height: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .icon-menu:hover,
.menu-button .icon-menu:focus,
.menu-button .icon-cross:hover,
.menu-button .icon-cross:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: #ffffff;
    border-top: 1px solid #ececec;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
  text-decoration: none;
}

.logo .top-studio {
  color: black;
}

@media screen and (min-width: 1200px) {
  .logo {
    display: inline-block;
    font-size: 26px;
    line-height: 1.2;
  }
}

.container.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container.header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  .container.header {
    height: 80px;
  }
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button.is-open:hover .icon-close,
.menu-button.is-open:focus .icon-close {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    z-index: 1;
    border-top: 1px solid #ececec;
  }
}

.menu-container.is-open {
  display: block;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.site-nav {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    margin-right: 84px;
  }
}

.site-nav .list {
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .site-nav .list:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .list.item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  width: 100%;
  height: 100%;
  letter-spacing: 0.02em;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1;
  }
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.site-nav .link.current::after {
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current {
    padding-bottom: 12px;
  }
}

.site-nav .link.current .page-header .contact {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current .page-header .contact {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link.current .page-header .contact {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .link.current .page-header .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.site-nav .link.current .contact .list:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .site-nav .link.current .contact .list:not(:last-child) {
    margin-bottom: 16px;
  }
}

.site-nav .link.current .contact .link {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current .contact .link:focus {
  color: #2196f3;
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .site-nav .link.current .contact .link {
    font-size: 14px;
  }
}

.icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  height: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #474858;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-480.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-480.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-960.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-960.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-770.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-770.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 2dppx), screen and (min-width: 481px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-1540.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-1540.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-1600.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 2dppx), screen and (min-width: 769px) and (min-resolution: 192dpi) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/Hero-3200.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-3200.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
  }
}

.hero .hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.hero-button.open {
  padding: 10px 32px;
}

.hero-button.send {
  padding: 10px 55px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    width: calc(100% - 30px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: calc(100% - 2 * 159px);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal .text {
  display: block;
  padding: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.modal .form-field {
  position: relative;
  margin-bottom: 28px;
  width: 100%;
  height: 40px;
}

.form-input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus {
  border: 1px solid #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  -webkit-transform: translate(-26px, -40px);
          transform: translate(-26px, -40px);
  color: #2196f3;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: black;
  width: 18px;
  height: 18px;
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.form-coment {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  color: #757575;
}

.coment-textarea {
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.coment-textarea:focus {
  border: 1px solid #2196f3;
}

.coment-label {
  display: block;
  position: absolute;
  top: 12px;
  left: 16px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-textarea:focus + .coment-label,
.coment-textarea:not(:placeholder-shown) + .coment-label {
  color: #2196f3;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.coment-label .checkbox-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: start;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .coment-label .checkbox-label {
    white-space: nowrap;
  }
}

.coment-label .checkbox {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.coment-label .checkbox:checked {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../images/check-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  -webkit-transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .coment-label .checkbox:checked {
    left: 12px;
  }
}

.coment-label .check-text {
  display: block;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .coment-label .check-text {
    font-size: 12px;
    line-height: 1.1px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .coment-label .check-text {
    font-size: 14px;
    line-height: 1.7px;
    margin-left: 36px;
  }
}

.coment-label .check-link > a {
  display: block;
  padding-left: 2px;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .coment-label .check-link > a {
    font-size: 12px;
    line-height: 1.1px;
  }
}

.coment-label .check-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 16px;
  height: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.checkbox:checked ~ .coment-label .check-icon {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .coment-label .check-icon {
    left: 12px;
  }
}

.coment-label .modal .close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.coment-label .modal .close:hover .icon-close,
.coment-label .modal .close:focus .icon-close {
  fill: #2196f3;
}

.coment-label .icon-close {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.section-detail {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .section-detail {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.detail {
  padding-left: 0;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.detail > .item {
  display: block;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .detail > .item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .detail > .item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: calc((100% - 8 * 15px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .detail .item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.box-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-antena {
  width: 65px;
  height: 70px;
}

.icon-clock {
  width: 67px;
  height: 70px;
}

.icon-diagram {
  width: 70px;
  height: 54px;
}

.icon-astronaut {
  width: 55px;
  height: 61px;
}

.section-detail .section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}

.section-work .section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.work > .item {
  width: calc((100% - 60px) / 3);
}

.work .item + .item {
  margin-left: 30px;
}

.work .item {
  position: relative;
}

.section-work .link {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #ffffff;
}

.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-team .section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  padding-left: 0;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .item-name:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .item-name {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-name {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.item-name .content {
  padding-top: 30px;
  padding-right: 122px;
  padding-bottom: 24px;
  padding-left: 122px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .item-name .content {
    padding-left: 74px;
    padding-right: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .item-name .content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.section-team .section-title-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .section-text {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
}

.team-social .link:hover,
.team-social .link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.team .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social .icon-instagram {
  width: 44px;
  height: 44px;
}

.team-social .icon-twitter {
  width: 44px;
  height: 44px;
}

.team-social .icon-facebook {
  width: 44px;
  height: 44px;
}

.team-social .icon-linkedin {
  width: 44px;
  height: 44px;
}

.section-customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-customers .section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;
}

.customers .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .customers .element {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .customers .element {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers .element {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.customers .link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers .link:hover, .customers .link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.icon-logo-1 {
  width: 44px;
  height: 49px;
}

.icon-logo-2 {
  width: 40px;
  height: 52px;
}

.icon-logo-3 {
  width: 41px;
  height: 43px;
}

.icon-logo-4 {
  width: 80px;
  height: 42px;
}

.icon-logo-5 {
  width: 59px;
  height: 47px;
}

.icon-logo-6 {
  width: 89px;
  height: 46px;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .foot .left {
    margin-bottom: 60px;
    text-align: center;
  }
}

.page-footer .logo {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.bottom-studio {
  color: #ffffff;
}

.page-footer .home {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.page-footer .link {
  display: inline-block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .foot .center {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .foot .center {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .foot .center {
    margin-left: 69px;
  }
}

.foot-seti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.foot-seti .list + .list {
  display: block;
  margin-left: 10px;
}

.foot-seti > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-seti .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250 cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-seti .link:hover, .foot-seti .link:focus {
  background-color: #2196f3;
}

.page-footer .text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .page-footer .text {
    text-align: center;
  }
}

.foot-seti .icon-instagram {
  width: 44px;
  height: 44px;
}

.foot-seti .icon-twitter {
  width: 44px;
  height: 44px;
}

.foot-seti .icon-facebook {
  width: 44px;
  height: 44px;
}

.foot-seti .icon-linkedin {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 1199px) {
  .foot .right {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .foot .right {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.subscribe-input {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  height: 50px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    min-width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    min-width: 358px;
  }
}

.button-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .button-secondary {
    margin-left: 12px;
  }
}

.icon-iconsend {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-work {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-work {
    margin-bottom: 50px;
  }
}

.filter-work .item + .item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter-work .item {
    margin-bottom: 15px;
  }
}

.filter-work .item:nth-child(3n + 1) {
  margin-left: 8px;
}

.section-portfolio .filter {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: black;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio .filter:hover, .section-portfolio .filter:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.cart {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.cart > .element {
  display: block;
}

@media screen and (max-width: 767px) {
  .cart > .element:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .cart > .element {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .cart > .element {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.cart .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.product {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
}

.product:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart .link:hover .product:before,
.cart .link:focus .product:before {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.text-hidden {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .text-hidden {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .text-hidden {
    padding: 63px 24px;
  }
}

.cart .link:hover .text-hidden,
.cart .link:focus .text-hidden {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cart .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.cart .content:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cart .link:hover .content::after,
.cart .linc:focus .content::after {
  opacity: 1;
}

.section-portfolio .section-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-portfolio .section-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */