.section-detail {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $--primary-white-color;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 0;
    }
}

.detail {
    padding-left: 0;
    margin: -15px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.detail>.item {
    display: block;
    margin: 15px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        width: calc((100% - 8 * 15px) / 4);
    }
}

.detail .item:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.icon-antena {
    width: 64px;
    height: 71px;
}

.icon-clock {
    width: 66px;
    height: 71px;
}

.icon-diagram {
    width: 69px;
    height: 55px;
}

.icon-astronaut {
    width: 56px;
    height: 60px;
}

.section-detail .section-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
}