.cards {
    padding-left: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.cards>.block {
    display: block;
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 6 * 15px) / 3);
    }
}

.cards .link {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

.text-hidden {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 77px 24px;
    @media screen and (min-width: 768px) {
        padding: 49px 24px;
    }
    @media screen and (min-width: 1200px) {
        padding: 63px 24px;
    }
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $--primary-white-color;
    transform: translateY(+120%);
    transition: transform 250ms $--timing-function;
    .cards .link:hover &,
    .cards .link:focus & {
        transform: translateY(0);
    }
}

.portfolio .section-title {
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.cards .inside {
    flex-grow: 1;
    position: relative;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
        opacity: 0;
        transition: opacity 250ms $--timing-function;
    }
}

.cards .link:hover .inside::after,
.cards .linc:focus .inside::after {
    opacity: 1;
}

.portfolio .section-text-color {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}

.product {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(+101%);
        transition: transform 250ms $--timing-function;
        .cards .link:hover &,
        .cards .link:focus & {
            transform: translateY(0%);
        }
    }
}