.logo-1 {
    width: 46px;
    height: 51px;
}

.logo-2 {
    width: 41px;
    height: 52px;
}

.logo-3 {
    width: 42px;
    height: 43px;
}

.logo-4 {
    width: 80px;
    height: 44px;
}

.logo-5 {
    width: 61px;
    height: 49px;
}

.logo-6 {
    width: 89px;
    height: 47px;
}

.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.client {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: -15px;
}

.clients .section-title {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.client .brend {
    display: flex;
    height: 90px;
    margin: 15px;
    @media screen and (max-width: 767px) {
        width: calc((100% - 4 * 15px) / 2);
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 15px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 12 * 15px) / 6);
    }
}

.client .link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    fill: #afb1b8;
    transition: border 250ms $--timing-function, fill 250ms $--timing-function;
    &:hover,
    &:focus {
        border: 1px solid $--accent-color;
        fill: $--accent-color;
    }
}