.label:not(:last-child) {
    margin-right: 30px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $--primary-white-color;
}

.logotype {
    @extend %break;
    display: flex;
    margin-top: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-width: 170px;
    fill: $--svg-color;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms $--timing-function;
    &:hover {
        fill: $--accent-color;
        border: 1px solid $--accent-color;
    }
    &:active,
    &:focus {
        fill: $--accent-color;
        border: 1px solid $--accent-color;
    }
}

.brand {
    transition: fill 250ms $--timing-function;
}

.brand:hover {
    fill: $--accent-color;
}