.doing {
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    bottom: 11px;
    left: 85px;
}

.doit {
    position: relative;
}

.stripe {
    content: '';
    z-index: 1;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.details {
    @extend %break;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}

.details>.box+.box {
    margin-left: 30px;
}

.details>.space+.space {
    margin-left: 30px;
}

.texts {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $--primary-color;
}