.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $--primary-color;
    padding-bottom: 21px;
}

.address {
    margin-top: 10px;
    margin-bottom: 9px;
}

.foot-web {
    margin-top: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $--accent-color;
}

.footer-page {
    background-color: #2f303a;
    padding-top: 48px;
}

.footer {
    display: flex;
    align-items: baseline;
}

.foot-studio {
    margin-top: 48px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $--primary-white-color;
}

.studio-logo {
    color: $--primary-white-color;
}

.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $--accent-color;
    }
}

.container .title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.container .adress {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: $--primary-white-color;
}

.footer-links {
    @extend %break;
    display: flex;
    & a:hover,
    & a:focus {
        color: $--accent-color;
    }
}

.join-us .footer-links {
    width: 206px;
    display: flex;
    justify-content: space-between;
}

.join-us {
    margin-bottom: 42px;
    margin-left: 80px;
}

.links {
    margin-right: 10px;
}

.link-id {
    display: block;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms $--timing-function;
    &:hover {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: $--accent-color;
    }
    &:active,
    &:focus {
        background-color: $--accent-color;
    }
}

.address,
.footer-links-title,
.subscribe-title {
    font-style: normal;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $--primary-white-color;
}

.decorate {
    color: $--accent-color;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-contact .cont {
    @extend %break;
}

.cont>.item {
    @extend %break;
    margin-top: 9px;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 46px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.authors {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-bottom: 21px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.03em;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    border: 1px solid grey;
    background-position: center;
    background-size: cover;
}

.join-form {
    margin-left: 35px;
    padding-left: 75px;
    margin-top: 25px;
    margin-bottom: 56px;
}

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $--primary-white-color;
}

.form-footer {
    display: inline-block;
    margin-right: 12px;
    margin-top: 20px;
    padding: 16px 15px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: #2f303a;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.87;
    color: rgba(255, 255, 255, 0.6);
}

.submit-button {
    position: relative;
    padding: 0;
    padding-left: 27px;
    min-width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: $--accent-color;
    color: $--primary-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: start;
    cursor: pointer;
}

.icon-send {
    position: absolute;
    fill: $--primary-white-color;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    margin-left: 10px;
}