.foot .left {
    @media screen and (max-width: 1199px) {
        margin-bottom: 60px;
        text-align: center;
    }
}

.page-footer .logo {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.bottom-studio {
    color: $primary-white-color;
}

.page-footer .home {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $primary-white-color;
}

.page-footer .link {
    display: inline-block;
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}