.footer-social {
    @extend %list-style;
    display: flex;
    justify-content: center;
    .social-item {
        display: flex;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    .icon-social {
        background-color: rgba(255, 255, 255, 0.4);
        fill: $--primary-white-color;
        @include transition(background-color);
        &:hover,
        &:focus {
            background-color: $--accent-color;
        }
        .button-icon {
            fill: $--primary-white-color;
        }
    }
}