/*Header*/

.unit:not(:last-child) {
    margin-right: 30px;
}

.unit {
    @extend %break;
    &:hover .link-header-font,
    &:focus .link-header-font {
        color: $--accent-color;
    }
}

.mark {
    fill: currentColor;
    margin-right: 10px;
}

.logo-lin {
    color: $--text-title;
    $font-family: raleway, sans-serif;
    font-family: $font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-lin>span {
    color: $--accent-color;
}

.link-header-font {
    bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
}

.header {
    @extend %container;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-left: 85px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.site-nav>.item+.item {
    margin-left: 50px;
}

.site-nav .link-header-font {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $--title-color;
    transition: color 250ms $--timing-function;
}

.site-nav .current {
    color: $--title-color;
    position: relative;
}

.site-nav .current::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: $--accent-color;
    border-radius: 2px;
    & .link-header-font:hover,
    & .link-header-font:focus {
        color: $--accent-color;
    }
}

.auth-nav {
    @extend %break;
    display: inline-flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav .link-header-font {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms $--timing-function;
}

.auth-nav>.item+.item {
    margin-left: 30px;
}

.auth-nav .link-header-font,
main .text {
    color: $--primary-color;
}