.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #474858;
    background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-480.jpg);
    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-960.jpg);
    }
    @media screen and (min-width: 481px) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-770.jpg);
        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
            background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-1540.jpg);
        }
    }
    @media screen and (min-width: 769px) {
        background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-1600.jpg);
        @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx), screen and (min-resolution: 192dpi) {
            background-image: linear-gradient( rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Hero-3200.jpg);
        }
    }
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        width: 1600px;
        height: 600px;
    }
}

.hero .hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.4;
    }
}

.hero-button {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: $primary-white-color;
    background-color: $acent-color;
    cursor: pointer;
    &.open {
        padding: 10px 32px;
    }
    &.send {
        padding: 10px 55px;
    }
}