.logo-lin {
    display: inline-block;
    color: $--text-title;
    $font-family: raleway, sans-serif;
    font-family: $font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    .top-studio {
        color: $--accent-color;
    }
    @media screen and (min-width: 1200px) {
        display: inline-block;
        font-size: 26px;
        line-height: 1.2;
    }
}