.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic;
    padding: 40px;
    width: 450px;
    height: 609px;
    background-color: $primary-white-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.6);
        transition: transform 250ms $cubic;
    }
    @media screen and (max-width: 767px) {
        width: calc(100% - 30px);
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc(100% - 2 * 159px);
    }
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}

.modal .text {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.03em;
}

.modal .form-field {
    position: relative;
    margin-bottom: 28px;
    width: 100%;
    height: 40px;
}

.form-input {
    display: block;
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &:focus {
        border: 1px solid $acent-color;
    }
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms $cubic;
    color: $primary-text-coor;
    .form-input:focus+&,
    .form-input:not(:placeholder-shown)+& {
        transform: translate(-26px, -40px);
        color: $acent-color;
    }
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: $title-text-color;
    width: 18px;
    height: 18px;
    .form-input:focus~& {
        fill: $acent-color;
    }
}

.form-coment {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 120px;
    color: $primary-text-coor;
}

.coment-textarea {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    &:focus {
        border: 1px solid $acent-color;
    }
}

.coment-label {
    display: block;
    position: absolute;
    top: 12px;
    left: 16px;
    transform: translateY(0);
    transition: transform 250ms $cubic;
    .coment-textarea:focus+&,
    .coment-textarea:not(:placeholder-shown)+& {
        color: $acent-color;
        transform: translateY(-35px);
    }
}

.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-align: start;
    cursor: pointer;
    @media screen and (max-width: 480px) {
        white-space: nowrap;
    }
}

.checkbox {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked {
        position: absolute;
        top: 50%;
        left: 0;
        width: 16px;
        height: 15px;
        transform: translateY(-50%);
        background-image: url(../images/check-blue.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: border-box;
        transition: background-image 250ms $cubic;
        @media screen and (min-width: 1200px) {
            left: 12px;
        }
    }
}

.check-text {
    display: block;
    color: $primary-text-coor;
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.1px;
        margin-left: 24px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.7px;
        margin-left: 36px;
    }
}

.check-link>a {
    display: block;
    padding-left: 2px;
    color: $acent-color;
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 1.1px;
    }
}

.check-icon {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 16px;
    height: 15px;
    transform: translateY(-50%);
    .checkbox:checked~& {
        fill: $acent-color;
    }
    @media screen and (min-width: 1200px) {
        left: 12px;
    }
}

.modal .close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: $background-first;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover .icon-close,
    &:focus .icon-close {
        fill: $acent-color;
    }
}

.icon-close {
    width: 11px;
    height: 11px;
    fill: #000000;
}