.icon-social {
    @extend %centered-flex;
    width: 44px;
    height: 44px;
    background-color: $--primary-white-color;
    border-radius: 50%;
    .our-team-social & {
        background-color: $--primary-white-color;
        @include transition(background-color);
    }
    .our-team-social &:hover,
    .our-team-social &:focus {
        background-color: $--accent-color;
    }
}

.our-team .social:not(:last-child) {
    margin-right: 11px;
}

.our-team-social {
    @extend %break;
    @extend %centered-flex;
    margin-bottom: 24px;
    .social-item:not(:last-child) {
        margin-right: 10px;
    }
    .button-icon {
        fill: #afb1b8;
        @include transition(fill);
    }
}

.button-icon {
    .our-team-social .icon-social:hover &,
    .our-team-social .icon-social:focus & {
        fill: $--primary-white-color;
    }
}