.button-filter .item+.item {
    margin-left: 8px;
}

.button-filter .item {
    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
    &:nth-child(3n + 1) {
        margin-left: 8px;
    }
}

.portfolio .click {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
    background-color: #f5f4fa;
    color: $--title-color;
    transition: background-color 250ms $--timing-function, color 250ms $--timing-function;
    &:hover,
    &:focus {
        background-color: $--accent-color;
        color: $--primary-white-color;
    }
}

.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $--primary-white-color;
    border-top: 1px solid #ececec;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.button-filter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}