@mixin font($weight: 400, $size: 16px, $height: 1.18, $letter-spacing: 0.03em) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $letter-spacing;
}

@mixin transition($property) {
    transition: $property 250ms $--timing-function;
}

@mixin two-transitions( $first-property, $second-property, $time: 250ms, $timing-function: $--timing-function) {
    transition: $first-property $time $timing-function, $second-property $time $timing-function;
}