$--text-title: #212121;
$--title-color: black;
$--primary-color: #757575;
$--accent-color: #2196f3;
$--primary-white-color: #ffffff;
$font-family: roboto,
sans-serif;
$--svg-color: #afb1b8;
$--timing-function: cubic-bezier(0.4, 0, 0.2, 1);