$primary-text-coor: #757575;
$title-text-color: #212121;
$acent-color: #2196f3;
$background-first: #ffffff;
$background-second: #f5f4fa;
$primary-white-color: #fff;
$primary-footer-color: #2f303a;
$primary-social-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);